{
  "arrowParens": "always",
  "trailingComma": "all",
  "tabWidth": 2,
  "singleQuote": true,
  "endOfLine": "crlf",
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "parser": "typescript"
      }
    }
  ]
}
