# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env
public/prove/zkecomerce.wasm
public/prove/test.json
public/prove/zkecomerce_0001.zkey
public/prove/zkxcb_1.zkey
public/prove/ZKEComerce.wasm
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
